# MongoDB connection string
MONGODB_URI=mongodb+srv://ziggemma1:<db_password>@aetherstudyapp.7hxu32y.mongodb.net/?appName=aetherstudyapp

# Secret key for JWT authentication (can be any random string)
JWT_SECRET=aether_study_secure_session_key_2024

# Set to true to bypass standard JWT auth and use a local seed mock user (only for dev/preview)
MOCK_AUTH=false

# Google Gemini API Key
GEMINI_API_KEY=

# OpenRouter API Key (for detailed notes and deep thinking)
OPENROUTER_API_KEY=

# Google OAuth2 Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=
VITE_SOCKET_URL=https://aether-socket-server-17zk.onrender.com
FRONTEND_URL=https://your-vercel-domain.vercel.app
PORT=4000

# PostHog Analytics
VITE_POSTHOG_KEY=phc_DcCX99kMXxRrjaSi77T5aoQXPw4Q8RvFudQZqCcRWGQv
VITE_POSTHOG_HOST=https://us.i.posthog.com
